.container {
    display: flex;
}

.menu {
    width: 20%;
}

li {
    list-style: none;
    transition-timing-function: linear;
    transition-duration: 0.3s;
    font-size: 15px;
}

li:hover {
    color: rgb(203, 41, 41);
    font-size: 30px;
}

